<div class="container">
  <%= simple_form_for aircraft, html: {class: 'p-3 border rounded d-flex flex-column justify-center'} do |f| %>
    <%= f.input :name %>
    <%= f.input :location,
      input_html: {data: {location_autocomplete_target: "location"}, class:"d-none"},
      wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
    %>
    <%= f.input :category, collection: Aircraft::CATEGORIES %>
    <%= f.input :description %>
    <%= f.input :capacity %>
    <%= f.input :range %>
    <%= f.input :state, collection: Aircraft::STATES %>
    <%= f.input :day_price %>
    <%= f.input :photo, as: :file %>
    <%= f.input :start, as: :string, input_html: {data: {controller: 'datepicker'}}%>
    <%= f.input :end, as: :string ,input_html: {data: {controller: 'datepicker'}} %>
    <%= f.submit class: 'btn btn-primary m-auto'%>
  <% end %>
</div>
