<h3 class="text-capitalize fw-bold"><%= aircraft.name %></h3>
<div>
  <h5 class="text-primary text-uppercase"><%= aircraft.category %></h5>
  <p><strong><%= aircraft.location %></strong><br>
  <small><%= aircraft.longitude %> | <%= aircraft.latitude %></small></p>
</div>
