<div class="row">
  <%= render 'partials/search_bar', path: root_path %>

  <ul class="d-flex flex-wrap gap-5 col-lg-7">
    <% if @aircraftsFiltered%>
      <% @aircraftsFiltered.each do |aircraft| %>
        <%= render 'aircraft_card', aircraft: aircraft %>
      <% end %>
    <% else %>
      <% @aircrafts.each do |aircraft| %>
        <li class="col-sm-5" >
          <%= link_to render('aircraft_card', aircraft: aircraft ), aircraft_path(aircraft)%>
        </li>
      <% end %>
    <% end %>
  </ul>

  <div  class="col-lg-5 mt-4 rounded-5 border"
        style="height: 95vh; top: 2em; position: sticky;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
