<div class="row">
  <div class="card mt-4 rounded-4 p-3" style="background-image: url('<%= cl_image_path @aircraft.photo.key %>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <h2 class="card-text text-primary text-uppercase"><strong><%= @aircraft.name %></strong></h2>
    <div  class="aircraft-picture bg-grey w-100 border-bottom"

    ></div>
    <div class="d-flex flex-column card-body aircraft-category bg-light opacity-75">
      <div class="aircraft-category-icon bg-primary shadow-sm rounded-circle"><i
            class="fa-solid fa-plane text-white"></i></div>
        <div class="row">
          <div class="col-6">
            <p class="card-text">CATEGORY : <strong><%= @aircraft.category %></strong></p>
            <p class="card-text">PRICE : <strong class="text-success"><%= @aircraft.day_price %></strong><small> € / jour</small></p>
            <p class="card-text justify-end">RANGE : <strong><%= @aircraft.range %></strong>km</p>
            <p class="card-text justify-end">CAPACITY : <strong><%= @aircraft.capacity %></strong>p.</p>
          </div>
          <div class="col-6">
            <p class="card-text justify-end">DESCRIPTION : <strong><%= @aircraft.description %></strong></p>
            <% if current_user != @aircraft.user %>
              <%= link_to "Reserve", new_aircraft_booking_path(@aircraft), class:"btn btn-outline-success" %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
  <div class="d-flex justify-content-between mt-3 mb-5 p-0">
    <%= link_to "Back", aircrafts_path, class:"btn btn-outline-secondary" %>
    <% if current_user.id == @aircraft.user_id %>
      <%= link_to "Delete", aircraft_path(@aircraft), data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" }, class:"btn btn-outline-danger"  %>
    <% end %>
  </div>
</div>
<div class="row">
  <% if current_user == @aircraft.user and @aircraft.bookings.length > 0 %>
    <h2 class='mt-2'>Booking offers</h2>
    <div class="border rounded p-3">
      <div class="d-flex w-100 flex-column gap-2 p-2">
        <% @aircraft.bookings.each do |booking| %>
            <%= render 'users/booking_card', booking: booking %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
