<h3>
  <%= link_to aircraft.name, aircraft_path(aircraft) %>
</h3>
<div>
  <h5 class="text-primary text-uppercase"><%= aircraft.category %></h5>
  <p><strong><%= aircraft.location %></strong><br>
  <small><%= aircraft.longitude %> | <%= aircraft.latitude %></small></p>
</div>
