<div class="row">
  <div class="col-lg-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <div class="d-flex justify-content-center">
          <div class="text-center rounded-circle border img-fluid" style="width: 150px; height: 150px;">
            <img src="" alt="<%= @user.name %>">
          </div>
        </div>
        <h5 class="my-3 text-uppercase fw-bold"><%= @user.name %></h5>
        <p class="text-muted mb-2">Best flyer</p>
        <div class="d-flex justify-content-center mb-2">
          <button class="btn btn-outline-danger"><i class="fa-solid fa-heart"></i> Follow</button>
          <button class="btn btn-outline-secondary ms-2">Contact</button>
        </div>
      </div>
    </div>
    <%# <div class="card mb-4 mb-lg-0">
      <div class="card-body p-0">
        <ul class="list-group list-group-flush rounded-3">
          <li class="list-group-item d-flex justify-content-between align-items-center p-3">
            <i class="fa-solid fa-plane fa-lg text-primary"></i>
            <p class="mb-0">www.flybnb.com</p>
          </li>
        </ul>
      </div>
    </div> %>
  </div>

<div class="col-lg-8">
  <div class="card mb-4 bg-white">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">UserName</p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @user.name %></p>
        </div>
        <div class="col-sm-1">
          <p class="mb-0"><%= link_to '<i class="fa-solid fa-wrench text-danger"></i>'.html_safe, edit_user_registration_path(current_user) %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Email</p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @user.email %></p>
        </div>
        <div class="col-sm-1">
          <p class="mb-0"><%= link_to '<i class="fa-solid fa-wrench text-danger"></i>'.html_safe, edit_user_registration_path(current_user) %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Password</p>
        </div>
        <div class="col-sm-7">
          <p class="text-muted mb-0">••••••••</p>
        </div>
        <div class="col-sm-1">
          <p class="mb-0"><%= link_to '<i class="fa-regular fa-eye"></i>'.html_safe, edit_user_password_path(current_user) %></p>
        </div>
        <div class="col-sm-1">
          <p class="mb-0"><%= link_to '<i class="fa-solid fa-wrench text-danger"></i>'.html_safe, edit_user_password_path(current_user) %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Description</p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0">A good laugh is sunshine in the house. Everyone has seen the serious side of myself and sometimes I need to take a chill pill and have a good laugh. That's who I am as a person.</p>
        </div>
        <div class="col-sm-1">

        </div>
      </div>
    </div>
  </div>
</div>

<% if current_user == @user %>
  <div class="row">
    <% if @aircrafts.length > 0%>
      <h2>Aircrafts</h2>
      <div class="border rounded p-3">
        <div class="d-flex w-100 flex-wrap gap-1">
          <% @aircrafts.each do |aircraft| %>
              <%= render 'aircrafts/aircraft_card', aircraft: aircraft %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @bookings.length > 0 %>
      <h2 class='mt-2'>Bookings</h2>
      <div class="border rounded p-3">
        <div class="d-flex w-100 flex-column gap-2 p-2">
          <% @bookings.each do |booking| %>
              <%= render 'booking_card', booking: booking %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @my_bookings.length > 0 %>
      <h2 class='mt-2'>My Bookings</h2>
      <div class="border rounded p-3">
        <div class="d-flex w-100 flex-column gap-2 p-2">
          <% @my_bookings.each do |booking| %>
              <%= render 'booking_card', booking: booking %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
