<!DOCTYPE html>
<html>
  <head>
    <title>AircraftbnbProject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>

    <%= render "devise/shared/flashes" %>

    <header>
      <%= link_to "Home Page", root_path, class: "home-btn" %>

      <div class="user-action">
        <%= link_to "My profile"%>
        <% if user_signed_in? %>
          <%= link_to '<i class="fa-solid fa-right-from-bracket"></i>'.html_safe, destroy_user_session_path, data: { turbo_method: :delete }, class: 'log-btn' %>
        <% else %>
          <%= link_to '<i class="fa-solid fa-right-to-bracket"></i>'.html_safe, new_user_session_path, class: 'log-btn' %>
        <% end %>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
